@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

:root {
  --border:#E5E5E5;
  --light-blue:#99D2DA;
  --text-color:#3B4647;
  --box-blue:#E3F8F6;
}

body {
  margin-top: 4rem;
}

.search__input {
  border: 2px solid var(--border);
  width: 22rem;
  height: 3rem;
  border-right: none;
  font-size: 20px;
  color: var(--text-color);
  outline: none;
}

.search__input:focus {
  border-color: var(--light-blue);
}

.button {
  width: 3rem;
  height: 3.4rem;
  background-color:var(--light-blue);
  border-color: var(--border);
  border-left: none;
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: center;
}

.logo{
  border: 2px solid var(--light-blue);
  width: 10rem;
  height: 6rem; 
}

.logo__text {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: 'Iceland', cursive;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.saved-button {
  background-color: var(--light-blue);
  border-color: var(--border);
  width: 8rem;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
}

.result {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.result__text {
  font-size: 1.5rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  background-color: var(--box-blue);
  margin-top: 6rem;
  margin-right: 4rem;
  box-shadow: 6px 6px var(--border);
}

.search__img {
  width: 20rem;
  height: 30rem;
}


@media screen and (max-width: 480px){
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search__input {
    width: 16rem;
    height: 2rem;
    margin: 4rem 0rem;
  } 

  .button {
    width: 3rem;
    height: 2.4rem;
    margin: 4rem 0rem;
  }

}